{% extends "base.html.twig" %}

{% block body %}
	<div class="imagelist">

		{% for serie in shows %}
			<img class="homeimage" src="{{serie.image}}" width="120px" height="180px"/>
		{% endfor %}
		{% for movie in movies %}
			<img class="homeimage" src="{{movie.image}}" width="120px" height="180px"/>
		{% endfor %}
	</div>
{% endblock %}

{# https://symfony.com/doc/current/reference/constraints/Length.html} #}