{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		{% for serie in shows %}
			<div class="card">
				<a href="{{ path('show', {'id': serie.id}) }}">
					<img class="img-poster" src="{{serie.image}}"/>
				</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
