@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.logo{
  width: 300px;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  background-color: #000;
  display: grid;
  place-items: center;
 
}
nav {
  margin-bottom: 50px;
  color: white;
  -webkit-box-reflect: below 2px
  linear-gradient(transparent, transparent, #0004);
}
.navlink {
  padding-left: 15px;
  padding-right: 15px
}
.nav-icon {
  width: 50px;
  height: 50px;
}
.nav-icon-user {
  width: 45px;
  height: 45px;
}
.img-poster {
  width: 200px;
  height: 320px;
  object-fit: cover;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}
.container {
  max-width: 600px;
  max-height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container:hover img {
  opacity: 0.3;
}
.container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}
.form {
  margin-top: 40px;
  color: white;
  text-align: center;
}
.input {
  margin-top: 10px;
  width: 200px;
}
textarea {
  font-family: "Ubuntu", sans-serif;
  width: 200px;
  height: 100px;
}
::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
}
:-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
}
::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
}
:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
	color: #000000 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff9c;
	border: 4px solid #000000 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
  padding-top: 6px;
}

.btn:hover {
    width: 200px;
	color: #ffffff !important;
	background: black;
	border-color: #ffffff !important;
	transition: all 0.4s ease 0s;
}
h2{
    color: white;
}
h1{
    color: white;
    margin-bottom: 10px;
}
h3{
  color:black;

}
p{
  color: black;
  font-size: 14px;
}
.poster-detail{
  width: 200px;
  border: 4px solid #000000 !important;
}
.detail-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  -webkit-box-reflect: below 2px
  linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.048));
}
.detail-container-column{
  margin-left: 200px;
  margin-right: 150px;
}
.detail{
	border: 4px solid #000000 !important;
  align-items: center;
  width: 200px;
  height: auto;
  background: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.detail-description{
	border: 4px solid #000000 !important;
  align-items: center;
  width: 200px;
  height: auto;
  background: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  text-align: justify;
  margin: 10px;
  padding: 10px;
}